{% extends "app/master.html" %}
{% block content %}
    <title>Attendance Record</title>
    <style>
        body{
        margin:0px;
        padding:0px;
        }

        .main-head{
        padding:20px;
        }

        .head{
        font-size:0.85rem;
        margin:auto;
        margin-top:1.5rem;
        padding:10px;
        border:solid 2px black;
        text-align:center;
        background:lightblue;
        max-width:1200px;
        min-width:250px;
        }

        .mcon{
        display:grid;
        grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
        gap:10px;
        margin:auto;
        margin-top:1.7rem;
        max-width:1200px;
        min-width:250px;
        padding:10px;

        }

        .con{
        border:solid 2px black;
        border-radius:5px;
        width:100%;

        }

        .box-h{
        margin:auto;
        margin-top:0.7rem;
        margin-left:0.4rem;
        margin-right:0.4rem;
        text-align:center;
        background:darkorange;
        border-radius:5px;
        border:solid 2px black;
        padding:5px;
        }


        .box-con{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap:4px;
        margin-top:0.7rem;
        text-align:center;
        font-size:0.6rem;
        padding:5px;
        }

        .box{

        display: flex;
        align-items:center;
        justify-content:center;
        width:56px;
        height:56px;
        margin:auto;
        border-radius:5px;
        border:solid 1px black;

        }

        .present{
        background:green;
        color:white;
        }

        .absent{
        background:red;
        color:white;
        }

        .neutral{
        background:white;
        }

    </style>


    <div class="main-head">
        <div class="head">
            <h3>🟥Absent   🟩Present   ⬜Attendance not taken yet</h3><br>
            <pre><b>Admission Date : {{data.AdmissionDate}}</b></pre>
            <pre><b>Name : {{data.name}}   UserName : {{data.username}}</b></pre>
        </div>
    </div>

    <div class="mcon">
        {% for i in cd %}
        <div class="con">
            <div class="box-h">{{ i.month }} - {{ i.year }}</div>
            <div class="box-con">
                {% for j in i.days %}
                    <div class="box {% if j.status == 1 %}present{% elif j.status == 0 %}absent{% else %}neutral{% endif %}">
                        <b>{{ j.day }}<br>{{ j.day_name }}</b>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
