{% extends "app/master.html" %}
{% block content %}

<div class="con">

<div class="login-container">
    <h2>Change Password</h2>

    {% if token == "token" %}
        <form method="post" action="{% url 'forget' token='change' %}">
            {% csrf_token %}
            <input type="text" placeholder="Enter Username" name="username" required>
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <form method="post" action="{% url 'forget' token=token %}">
            {% csrf_token %}
            <input type="text" placeholder="Enter New Password" name="newpassword" required>
            <input type="text" placeholder="Re-type Password" name="password" required>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    <button onclick="window.location.href='{% url 'login' %}'">Login</button>
</div>


</div>

<style>

    body {
        background: linear-gradient(to right, #2c3e50, #4ca1af);
        margin: 0;
    }

    .con{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    }

    .login-container {
        background: #ffffff;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 100%;
        max-width: 350px;
    }


    h2 {
        margin-bottom: 20px;
        color: #333;
    }

    input[type="text"], input[type="password"] {
        width: 330px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
    }

    /* Style login button */
    input[type="submit"] {
        width: 100%;
        background: #2c3e50;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;
    }

    input[type="submit"]:hover {
        background: #34495e;
    }

    /* Style register button */
    button {
        width: 100%;
        background: #27ae60;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        transition: 0.3s;
    }

    button:hover {
        background: #2ecc71;
    }

    /* Responsive Design */
    @media (max-width: 400px) {
        .login-container {
            padding: 20px;
        }

        input[type="text"], input[type="password"], input[type="submit"], button {
            font-size: 14px;
        }
    }
</style>
{% endblock %}
